---
import DevLayout from "../../layouts/DevLayout.astro";
import WebDesignProcess from "../../components/WebDesignProcess.astro";
---

<DevLayout title="Web Design Process Component">
  <main>
    <WebDesignProcess />
  </main>
</DevLayout>
