---
import DevLayout from '../../layouts/DevLayout.astro';
import Hero from '../../components/Hero.astro';
import Services from '../../components/Services.astro';
import SelectedWork from '../../components/SelectedWork.astro';
import WebDesignProcess from '../../components/WebDesignProcess.astro';
import ClientTestimonials from '../../components/ClientTestimonials.astro';
import LatestArticles from '../../components/LatestArticles.astro';
---
<DevLayout>

    <h1>Components all</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Hero</h2>
            </div>
        </div>
    </div>
    <Hero />

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="margin-top: 4rem;">Services</h2>
            </div>
        </div>
    </div>
    <Services />

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="margin-top: 4rem;">Selected Work</h2>
            </div>
        </div>
    </div>
    <SelectedWork />

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="margin-top: 4rem;">Web Design Process</h2>
            </div>
        </div>
    </div>
    <WebDesignProcess />

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="margin-top: 4rem;">Client Testimonials</h2>
            </div>
        </div>
    </div>
    <ClientTestimonials />

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="margin-top: 4rem;">Latest Articles</h2>
            </div>
        </div>
    </div>
    <LatestArticles />
</DevLayout>
