---
import DevLayout from '../../layouts/DevLayout.astro';
import Hero from '../../components/Hero.astro';
---
<DevLayout>

    <h1>Components all</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Hero</h2>   
            </div>
        </div>
    </div>
    <Hero />
</DevLayout>