---
import DevLayout from '../../layouts/DevLayout.astro';
import Hero from '../../components/Hero.astro';
import Services from '../../components/Services.astro';
import SelectedWork from '../../components/SelectedWork.astro';
---
<DevLayout>

    <h1>Components all</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Hero</h2>   
            </div>
        </div>
    </div>
    <Hero />

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="margin-top: 4rem;">Services</h2>
            </div>
        </div>
    </div>
    <Services />

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 style="margin-top: 4rem;">Selected Work</h2>
            </div>
        </div>
    </div>
    <SelectedWork />
</DevLayout>
