---
---

<section class="faq section section--dark">
  <div class="section-container">
    <div class="faq__content">
      <div class="faq__header">
        <h2 class="faq__title">Frequently asked questions</h2>
      </div>
      
      <div class="faq__questions">
        <div class="faq__item faq__item--expanded" data-faq-item>
          <div class="faq__question-wrapper">
            <h3 class="faq__question">What type of companies do you work with? Who are your target customers?</h3>
            <button class="faq__toggle" data-faq-toggle aria-expanded="true">
              <svg class="faq__icon faq__icon--plus" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_9654_3311)">
                  <path d="M19.2188 9.21875H10.7812V0.78125C10.7812 0.349766 10.4315 0 10 0C9.56852 0 9.21875 0.349766 9.21875 0.78125V9.21875H0.78125C0.349766 9.21875 0 9.56852 0 10C0 10.4315 0.349766 10.7812 0.78125 10.7812H9.21875V19.2188C9.21875 19.6502 9.56852 20 10 20C10.4315 20 10.7812 19.6502 10.7812 19.2188V10.7812H19.2188C19.6502 10.7812 20 10.4315 20 10C20 9.56852 19.6502 9.21875 19.2188 9.21875Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip0_9654_3311">
                    <rect width="20" height="20" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              <svg class="faq__icon faq__icon--close" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_9654_3722)">
                  <path d="M20.9663 7.92893L15 13.8951L9.03383 7.92893C8.72873 7.62383 8.23408 7.62383 7.92898 7.92893C7.62387 8.23404 7.62387 8.72868 7.92898 9.03379L13.8952 15L7.92898 20.9662C7.62387 21.2713 7.62387 21.766 7.92898 22.0711C8.23408 22.3762 8.72873 22.3762 9.03383 22.0711L15 16.1049L20.9663 22.0711C21.2714 22.3762 21.766 22.3762 22.0711 22.0711C22.3762 21.766 22.3762 21.2713 22.0711 20.9662L16.1049 15L22.0711 9.03379C22.3762 8.72868 22.3762 8.23404 22.0711 7.92893C21.766 7.62383 21.2714 7.62383 20.9663 7.92893Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip0_9654_3722">
                    <rect width="20" height="20" fill="white" transform="translate(0.85791 15) rotate(-45)"/>
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
          <div class="faq__answer" data-faq-answer>
            <p>Our target customers and companies mostly start-ups, small businesses, non-profits, and enterprise clients across the industries.</p>
          </div>
        </div>

        <div class="faq__item" data-faq-item>
          <div class="faq__question-wrapper">
            <h3 class="faq__question">How long does it take to successfully complete a website?</h3>
            <button class="faq__toggle" data-faq-toggle aria-expanded="false">
              <svg class="faq__icon faq__icon--plus" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip1_9654_3311)">
                  <path d="M19.2188 9.21875H10.7812V0.78125C10.7812 0.349766 10.4315 0 10 0C9.56852 0 9.21875 0.349766 9.21875 0.78125V9.21875H0.78125C0.349766 9.21875 0 9.56852 0 10C0 10.4315 0.349766 10.7812 0.78125 10.7812H9.21875V19.2188C9.21875 19.6502 9.56852 20 10 20C10.4315 20 10.7812 19.6502 10.7812 19.2188V10.7812H19.2188C19.6502 10.7812 20 10.4315 20 10C20 9.56852 19.6502 9.21875 19.2188 9.21875Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip1_9654_3311">
                    <rect width="20" height="20" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              <svg class="faq__icon faq__icon--close" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip1_9654_3722)">
                  <path d="M20.9663 7.92893L15 13.8951L9.03383 7.92893C8.72873 7.62383 8.23408 7.62383 7.92898 7.92893C7.62387 8.23404 7.62387 8.72868 7.92898 9.03379L13.8952 15L7.92898 20.9662C7.62387 21.2713 7.62387 21.766 7.92898 22.0711C8.23408 22.3762 8.72873 22.3762 9.03383 22.0711L15 16.1049L20.9663 22.0711C21.2714 22.3762 21.766 22.3762 22.0711 22.0711C22.3762 21.766 22.3762 21.2713 22.0711 20.9662L16.1049 15L22.0711 9.03379C22.3762 8.72868 22.3762 8.23404 22.0711 7.92893C21.766 7.62383 21.2714 7.62383 20.9663 7.92893Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip1_9654_3722">
                    <rect width="20" height="20" fill="white" transform="translate(0.85791 15) rotate(-45)"/>
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
          <div class="faq__answer" data-faq-answer>
            <p>The timeline for website completion varies depending on the project scope and complexity. Typically, a simple website takes 4-6 weeks, while more complex projects can take 8-12 weeks or longer.</p>
          </div>
        </div>

        <div class="faq__item" data-faq-item>
          <div class="faq__question-wrapper">
            <h3 class="faq__question">Does your web design agency provide only design or web development as well?</h3>
            <button class="faq__toggle" data-faq-toggle aria-expanded="false">
              <svg class="faq__icon faq__icon--plus" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip2_9654_3311)">
                  <path d="M19.2188 9.21875H10.7812V0.78125C10.7812 0.349766 10.4315 0 10 0C9.56852 0 9.21875 0.349766 9.21875 0.78125V9.21875H0.78125C0.349766 9.21875 0 9.56852 0 10C0 10.4315 0.349766 10.7812 0.78125 10.7812H9.21875V19.2188C9.21875 19.6502 9.56852 20 10 20C10.4315 20 10.7812 19.6502 10.7812 19.2188V10.7812H19.2188C19.6502 10.7812 20 10.4315 20 10C20 9.56852 19.6502 9.21875 19.2188 9.21875Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip2_9654_3311">
                    <rect width="20" height="20" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              <svg class="faq__icon faq__icon--close" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip2_9654_3722)">
                  <path d="M20.9663 7.92893L15 13.8951L9.03383 7.92893C8.72873 7.62383 8.23408 7.62383 7.92898 7.92893C7.62387 8.23404 7.62387 8.72868 7.92898 9.03379L13.8952 15L7.92898 20.9662C7.62387 21.2713 7.62387 21.766 7.92898 22.0711C8.23408 22.3762 8.72873 22.3762 9.03383 22.0711L15 16.1049L20.9663 22.0711C21.2714 22.3762 21.766 22.3762 22.0711 22.0711C22.3762 21.766 22.3762 21.2713 22.0711 20.9662L16.1049 15L22.0711 9.03379C22.3762 8.72868 22.3762 8.23404 22.0711 7.92893C21.766 7.62383 21.2714 7.62383 20.9663 7.92893Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip2_9654_3722">
                    <rect width="20" height="20" fill="white" transform="translate(0.85791 15) rotate(-45)"/>
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
          <div class="faq__answer" data-faq-answer>
            <p>We provide comprehensive services including both web design and development. Our team handles everything from initial design concepts to full development and deployment.</p>
          </div>
        </div>

        <div class="faq__item" data-faq-item>
          <div class="faq__question-wrapper">
            <h3 class="faq__question">Can you work with my existing Marketing team?</h3>
            <button class="faq__toggle" data-faq-toggle aria-expanded="false">
              <svg class="faq__icon faq__icon--plus" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip3_9654_3311)">
                  <path d="M19.2188 9.21875H10.7812V0.78125C10.7812 0.349766 10.4315 0 10 0C9.56852 0 9.21875 0.349766 9.21875 0.78125V9.21875H0.78125C0.349766 9.21875 0 9.56852 0 10C0 10.4315 0.349766 10.7812 0.78125 10.7812H9.21875V19.2188C9.21875 19.6502 9.56852 20 10 20C10.4315 20 10.7812 19.6502 10.7812 19.2188V10.7812H19.2188C19.6502 10.7812 20 10.4315 20 10C20 9.56852 19.6502 9.21875 19.2188 9.21875Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip3_9654_3311">
                    <rect width="20" height="20" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              <svg class="faq__icon faq__icon--close" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip3_9654_3722)">
                  <path d="M20.9663 7.92893L15 13.8951L9.03383 7.92893C8.72873 7.62383 8.23408 7.62383 7.92898 7.92893C7.62387 8.23404 7.62387 8.72868 7.92898 9.03379L13.8952 15L7.92898 20.9662C7.62387 21.2713 7.62387 21.766 7.92898 22.0711C8.23408 22.3762 8.72873 22.3762 9.03383 22.0711L15 16.1049L20.9663 22.0711C21.2714 22.3762 21.766 22.3762 22.0711 22.0711C22.3762 21.766 22.3762 21.2713 22.0711 20.9662L16.1049 15L22.0711 9.03379C22.3762 8.72868 22.3762 8.23404 22.0711 7.92893C21.766 7.62383 21.2714 7.62383 20.9663 7.92893Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip3_9654_3722">
                    <rect width="20" height="20" fill="white" transform="translate(0.85791 15) rotate(-45)"/>
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
          <div class="faq__answer" data-faq-answer>
            <p>Absolutely! We love collaborating with existing marketing teams. We can seamlessly integrate with your current workflows and complement your team's efforts.</p>
          </div>
        </div>

        <div class="faq__item" data-faq-item>
          <div class="faq__question-wrapper">
            <h3 class="faq__question">Will you be there for me after the website is complete?</h3>
            <button class="faq__toggle" data-faq-toggle aria-expanded="false">
              <svg class="faq__icon faq__icon--plus" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip4_9654_3311)">
                  <path d="M19.2188 9.21875H10.7812V0.78125C10.7812 0.349766 10.4315 0 10 0C9.56852 0 9.21875 0.349766 9.21875 0.78125V9.21875H0.78125C0.349766 9.21875 0 9.56852 0 10C0 10.4315 0.349766 10.7812 0.78125 10.7812H9.21875V19.2188C9.21875 19.6502 9.56852 20 10 20C10.4315 20 10.7812 19.6502 10.7812 19.2188V10.7812H19.2188C19.6502 10.7812 20 10.4315 20 10C20 9.56852 19.6502 9.21875 19.2188 9.21875Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip4_9654_3311">
                    <rect width="20" height="20" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
              <svg class="faq__icon faq__icon--close" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip4_9654_3722)">
                  <path d="M20.9663 7.92893L15 13.8951L9.03383 7.92893C8.72873 7.62383 8.23408 7.62383 7.92898 7.92893C7.62387 8.23404 7.62387 8.72868 7.92898 9.03379L13.8952 15L7.92898 20.9662C7.62387 21.2713 7.62387 21.766 7.92898 22.0711C8.23408 22.3762 8.72873 22.3762 9.03383 22.0711L15 16.1049L20.9663 22.0711C21.2714 22.3762 21.766 22.3762 22.0711 22.0711C22.3762 21.766 22.3762 21.2713 22.0711 20.9662L16.1049 15L22.0711 9.03379C22.3762 8.72868 22.3762 8.23404 22.0711 7.92893C21.766 7.62383 21.2714 7.62383 20.9663 7.92893Z" fill="white"/>
                </g>
                <defs>
                  <clipPath id="clip4_9654_3722">
                    <rect width="20" height="20" fill="white" transform="translate(0.85791 15) rotate(-45)"/>
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
          <div class="faq__answer" data-faq-answer>
            <p>Yes, we provide ongoing support and maintenance services. Our relationship doesn't end at launch - we're here to help with updates, improvements, and any technical support you need.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
