---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	
	<main>
		<section id="hero">
			<a href="https://astro.build"
				><img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></a
			>
			
			<button type="button"class="js__test-js-btn" data-text="Test JS 1">
				Test JS 1
			</button>
			
			<button type="button"class="js__test-js-btn" data-text="Test JS 2">
				Test JS 2
			</button>
			
			<button type="button"class="js__test-js-btn" data-text="Test JS 3">
				Test JS 3
			</button>
		</section>
	</main>

	
</div>

