---
import '../scss/main.scss';
// import MainNav from '../components/MainNav.astro';
---
<html>
  <head>
    <!-- ... -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  </head>
  <body>
    
    <slot />
  </body>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" onload="window.swiperLoaded = true;"></script>
  <script type="module" src="/src/scripts/functions.js"></script>

</html>
