---
import '../scss/main.scss';
// import MainNav from '../components/MainNav.astro';
---
<html>
  <head>
    <!-- ... -->

  </head>
  <body>
    
    <slot />
  </body>

  <script type="module" src="/src/scripts/functions.js" defer></script>

</html>

